

  body{
    background: #fff;

  }


  .container{
    position: absolute;
    top:-25px;
    margin: 0;
    background: #fff;
    border-radius: unset;
    padding: 0 20px;

  }

  .button-bar {
    display: none;
  }

  .header {
    display: none;
  }

  .footer {
    display: none;
  }

  .footer-text {
    display: none;
  }

  .webmark {

    bottom: 0;

  }




